@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Thanks</title>
</head>
<body>
    <h2 class="m-lg-5"> @Model.Name</h2>
    <hr />
    <div class="m-5">
        @if (Model.WillAtend == true)
        {
            @:Kursa katılmış olduğundan dolayı çok mutlu olduk.
        }
        else
        {
            @:Kursa Katılmadığından dolayı Üzüldük.
        }
    </div>
    Kursa katılanları <a asp-action="List">listele.</a>
  
</body>
</html>
